*.bak
.DS_Store
*.~
*.swp
*.pyic
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# project file
.cproject
.project
.settings/
make/.cproject
make/.project

# binary files
test/cubecode_unittest
cubecode
